name: Lint GitHub Actions workflows
on:
  workflow_call:

jobs:
  actionlint:
    name: Lint GitHub workflows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check workflow files
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
