name: Lint GitHub Actions workflows
on:
  workflow_call:

jobs:
  actionlint:
    name: Lint GitHub workflows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Check workflow files
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
