name: CI

on:
  push:
    tags-ignore:
      - "**"
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  actionlint:
    name: Lint GitHub workflows
    uses: ./.github/workflows/actionlint.yml
    secrets: inherit

  lint-dummy-app: # NOTE(@azazeal): this check is here to verify that .golangci.yml is valid
    name: Lint dummy app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true

      - name: Run Linter
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          working-directory: lintapp
          version: latest
          verify: true
          args: --config=../.golangci.yml
