name: CI

on:
  push:
    tags-ignore:
      - "**"
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  actionlint:
    name: Lint GitHub workflows
    uses: ./.github/workflows/actionlint.yml
    secrets: inherit

  lint-dummy-app: # NOTE(@azazeal): this check is here to verify that .golangci.yml is valid
    name: Lint dummy app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true

      - name: Run Linter
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          working-directory: lintapp
          version: latest
          verify: true
          args: --config=../.golangci.yml
