on:
  workflow_call:
    inputs:
      os-dependencies:
        required: false
        type: string
      run-lint:
        required: false
        type: boolean
        default: true
      run-gitleaks:
        required: false
        type: boolean
        default: false
      run-codeql:
        required: false
        type: boolean
        default: false
      run-test:
        required: false
        type: boolean
        default: true
      run-build:
        required: false
        type: boolean
        default: true
    secrets:
      SSH_PRIVATE_KEY:
        required: false
      PAT:
        required: false
      CODECOV_TOKEN:
        required: false
      GITLEAKS_LICENSE_KEY:
        required: false

jobs:
  lint:
    uses: smallstep/workflows/.github/workflows/goLint.yml@main
    if: inputs.run-lint
    with:
      os-dependencies: ${{ inputs.os-dependencies }}
    secrets: inherit

  gitleaks:
    if: inputs.run-gitleaks
    uses: smallstep/workflows/.github/workflows/gitleaks.yml@main
    secrets:
      GITLEAKS_LICENSE_KEY: ${{ secrets.GITLEAKS_LICENSE_KEY }}

  codeql:
    if: inputs.run-codeql
    uses: smallstep/workflows/.github/workflows/codeql-analysis.yml@main

  test:
    uses: smallstep/workflows/.github/workflows/goTest.yml@main
    if: inputs.run-test
    with:
      os-dependencies: ${{ inputs.os-dependencies }}
    secrets: inherit

  build:
    uses: smallstep/workflows/.github/workflows/goBuild.yml@main
    if: inputs.run-build
    with:
      os-dependencies: ${{ inputs.os-dependencies }}
    secrets: inherit
