name: Sync winget-pkgs fork

on:
  schedule:
    - cron: '0 0 1 * *' # First day of each month at midnight UTC
  workflow_dispatch: # Allow manual trigger

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync fork with upstream
        run: |
          git clone --depth 1 https://github.com/microsoft/winget-pkgs.git
          cd winget-pkgs
          git remote add fork https://x-access-token:${{ secrets.WINGET_PAT }}@github.com/smallstep/winget-pkgs.git
          git push fork master --force
